.carousel-icon-content {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  color: #2d2d2d;
}
.rwd-dashboard {
  position: relative;
  top: 120px;
}
.rwd-dashboard .tabs-header {
  background-color: #ffffff;
  padding-top: 40px;
  position: fixed;
  top: 120px;
  width: 100%;
  z-index: 10;
}
.rwd-dashboard .tabs-header .rwd-tabs {
  display: flex;
  /*  @media (max-width: 767px) {
            padding: 0px 0px 0px 15px;
            min-width: 399px;
        } */
}
.rwd-dashboard .tabs-header .rwd-tabs .rwd-tab {
  padding-bottom: 20px;
  font-size: 14px;
  color: #8a8a96;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
}
.rwd-dashboard .tabs-header .rwd-tabs .rwd-tab.active {
  border-bottom: 2px solid #00b1f2;
}
.rwd-dashboard .tabs-header .rwd-tabs .rwd-tab.active span {
  font-weight: 600;
  color: #00b1f2;
}
.rwd-dashboard .tabs-header .rwd-tabs .rwd-tab:not(:last-child) {
  margin-right: 21px;
}
.rwd-dashboard .tabs-body {
  position: relative;
  top: 80px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content {
  display: none;
  /* .section{
                       padding: 40px 25px;

                        .instruction{
                           font-size: 13px;
                           color: #666666;
                       }
                    } */
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.active {
  display: block;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue {
  background-color: #f5f5f5;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container {
  margin-top: 40px;
  position: relative;
}
@media (max-width: 1280px) {
  .rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container {
    padding: 0 30px;
  }
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .category-carousel {
  /* display: flex;
                                    align-items: center;
                                    justify-content: center; */
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .category-carousel .slick-list {
  margin-right: -20px;
}
@media (max-width: 1280px) {
  .rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .category-carousel .slick-list {
    margin-right: -40px;
  }
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .category-carousel .category-wrapper {
  outline: none;
  width: 120px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .category-carousel .category-wrapper .category-image-wrapper {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .category-carousel .category-wrapper .category-image-wrapper .category-image {
  max-height: 70px;
  max-width: 70px;
  margin: 0 auto;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .category-carousel .category-wrapper .category-name {
  text-align: center;
  color: #878787;
  font-size: 14px;
  width: 100px;
  margin-top: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .carousel-prev {
  position: absolute;
  left: -43px;
  outline: none;
  background: none;
  padding: 0;
  border: 0;
  top: 38px;
  cursor: pointer;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .carousel-prev .carousel-icon::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  color: #2d2d2d;
  transform: rotate(135deg);
}
@media (max-width: 1280px) {
  .rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .carousel-prev {
    left: -20px;
  }
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .carousel-next {
  position: absolute;
  right: -43px;
  outline: none;
  background: none;
  padding: 0;
  border: 0;
  top: 38px;
  cursor: pointer;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .carousel-next .carousel-icon::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  color: #2d2d2d;
  transform: rotate(-45deg);
}
@media (max-width: 1280px) {
  .rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-category-carousel .carousel-container .carousel-next {
    right: -20px;
  }
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  max-height: 260px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container {
  height: 100%;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel {
  height: 100%;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box {
  max-width: 560px;
  width: 100%;
  position: relative;
  cursor: pointer;
  margin: 0 5px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.single .image-carousel-content {
  position: absolute;
  display: block;
  top: calc((100% + 10px)/3);
  right: 40px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.single .image-carousel-content .heading {
  font-size: 14px;
  color: #ffffff;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.single .image-carousel-content .subheading {
  font-size: 10px;
  color: #ffffff;
  margin-top: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.single .image-carousel-content .link {
  font-size: 10px;
  color: #00b1f2;
  margin-top: 10px;
  display: flex;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.single .image-carousel-content .link .toggle-icon {
  margin-left: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.single .image-carousel-content .link .toggle-icon::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 2px;
  vertical-align: middle;
  color: #00b1f2;
  transform: rotate(-45deg);
  transition: transform 0.3s;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped {
  display: grid !important;
  grid-template-columns: 50% 50%;
  height: calc((100% - 10px)/2);
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper {
  position: relative;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(1),
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(2) {
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  .rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(1),
  .rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(2) {
    margin-bottom: 5px;
  }
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(1) .image-carousel-content,
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(2) .image-carousel-content {
  position: absolute;
  display: block;
  top: calc(100%/3);
  left: 20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(1) .image-carousel-content .heading,
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(2) .image-carousel-content .heading {
  font-size: 14px;
  color: #000000;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(1) .image-carousel-content .subheading,
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(2) .image-carousel-content .subheading {
  font-size: 10px;
  color: #000000;
  margin-top: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(1) .image-carousel-content .link,
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(2) .image-carousel-content .link {
  font-size: 10px;
  color: #000000;
  margin-top: 10px;
  display: flex;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(1) .image-carousel-content .link .toggle-icon,
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(2) .image-carousel-content .link .toggle-icon {
  margin-left: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(1) .image-carousel-content .link .toggle-icon::after,
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(2) .image-carousel-content .link .toggle-icon::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 2px;
  vertical-align: middle;
  color: #000000;
  transform: rotate(-45deg);
  transition: transform 0.3s;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(3) .image-carousel-content {
  position: absolute;
  display: block;
  top: calc(100%/3);
  right: 20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(3) .image-carousel-content .heading {
  font-size: 14px;
  color: #000000;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(3) .image-carousel-content .subheading {
  font-size: 10px;
  color: #000000;
  margin-top: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(3) .image-carousel-content .link {
  font-size: 10px;
  color: #000000;
  margin-top: 10px;
  display: flex;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(3) .image-carousel-content .link .toggle-icon {
  margin-left: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(3) .image-carousel-content .link .toggle-icon::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 2px;
  vertical-align: middle;
  color: #000000;
  transform: rotate(-45deg);
  transition: transform 0.3s;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(4) .image-carousel-content {
  position: absolute;
  display: block;
  top: calc(100%/3);
  right: 20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(4) .image-carousel-content .heading {
  font-size: 14px;
  color: #ffffff;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(4) .image-carousel-content .subheading {
  font-size: 10px;
  color: #ffffff;
  margin-top: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(4) .image-carousel-content .link {
  font-size: 10px;
  color: #ffffff;
  margin-top: 10px;
  display: flex;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(4) .image-carousel-content .link .toggle-icon {
  margin-left: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box.grouped .i-c-grouped-wrapper:nth-child(4) .image-carousel-content .link .toggle-icon::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 2px;
  vertical-align: middle;
  color: #ffffff;
  transform: rotate(-45deg);
  transition: transform 0.3s;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box:focus {
  outline: none;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-image-carousel .rwd-carousel-container .image-carousel .rwd-image-carousel-box img {
  height: 100%;
  width: 100%;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section {
  margin-top: 40px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper {
  width: 280px;
  margin-right: 20px;
  height: fit-content;
}
@media (max-width: 1280px) {
  .rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper {
    margin-right: calc((100vw - 900px)/2);
  }
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-heading {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel {
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(213, 213, 234, 0.5);
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section {
  width: 100%;
  padding: 20px;
  border-bottom: solid 1px #f2f2fd;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .search-input-wrapper {
  border-bottom: solid 1px #8a8a96;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .search-input-wrapper .search-input {
  font-size: 14px;
  color: #8a8a96;
  padding-left: 5px;
  outline: none;
  border: none;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .search-input-wrapper .search-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  color: #8a8a96;
  font-weight: 400;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .search-input-wrapper .search-input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: #8a8a96;
  font-weight: 400;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .search-input-wrapper .search-input:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  color: #8a8a96;
  font-weight: 400;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .search-input-wrapper .search-input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  color: #8a8a96;
  font-weight: 400;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section.expanded {
  background-color: #f2f7fd;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section.expanded .rwd-expansion-panel .rwd-panel-head .control .toggle-icon::after {
  transform: rotate(-135deg);
  margin-top: 2px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel {
  margin: -20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-head {
  padding: 20px;
  cursor: pointer;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-head .title {
  color: #2d2d2d;
  font-size: 14px;
  font-weight: 600;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-head .control .select {
  font-size: 14px;
  color: #a8a8a8;
  margin-right: 6px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-head .control .select.value {
  color: #2d2d2d;
  font-weight: 600;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-head .control .toggle-icon::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  color: #8a8a96;
  transform: rotate(45deg);
  transition: transform 0.3s;
  margin-top: -3px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-body .inner-wrapper {
  padding: 20px;
  padding-top: 0;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-body .selection-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-body .selection-container .label {
  font-size: 14px;
  color: #00b1f2;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-body .selection-container-divider {
  height: 1px;
  background-color: #d5d5ea;
  margin-bottom: 20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-body .slider-wrapper {
  margin: 20px 0;
  width: 100%;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-body .slider-range-display {
  margin-top: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-body .slider-range-display .range {
  border-bottom: 1px solid #8a8a96;
  width: 80px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-body .slider-range-display .range input {
  font-size: 14px;
  font-weight: 600;
  color: #2d2d2d;
  outline: none;
  border: none;
  width: 60px;
  background-color: #f2f7fd;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-body .slider-range-display .range span {
  margin-left: 2px;
  font-size: 14px;
  color: #a8a8a8;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .rwd-expansion-panel .rwd-panel-body .slider-range-display .separator {
  height: 1px;
  width: 10px;
  background-color: #8a8a96;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .special-offers .heading {
  color: #2d2d2d;
  font-size: 14px;
  font-weight: 600;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-search-panel-wrapper .search-panel .search-section .special-offers .offers-tags-wrapper {
  margin-top: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper {
  padding-bottom: 110px;
  width: calc(100% - 300px);
}
@media (max-width: 1280px) {
  .rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper {
    width: 100%;
    max-width: calc(560px + calc((100vw - 900px)/2));
  }
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-categories-panel {
  min-height: 69px;
  position: sticky;
  width: 100%;
  top: 200px;
  z-index: 10;
  background-color: #f5f5f5;
  padding-bottom: 15px;
  margin-top: -20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-categories-panel .heading {
  color: #2d2d2d;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  margin-top: 23px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-categories-panel .category-tags {
  margin-top: 15px;
  margin-right: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-title .heading {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-title .view-all {
  font-size: 14px;
  font-weight: 600;
  color: #00b1f2;
  align-self: flex-end;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container {
  position: relative;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .slick-list {
  margin-right: -20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box {
  background-color: #ffffff;
  padding: 20px;
  width: 280px;
  margin-right: 20px;
  cursor: pointer;
  min-height: 343px;
  position: relative;
  outline: none;
  margin-top: 20px;
}
@media (max-width: 1280px) {
  .rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box {
    margin-right: calc((100vw - 900px)/2);
    min-width: 280px;
  }
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box.last {
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  .rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box.last {
    margin-right: 0 !important;
  }
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box.last .image-container {
  height: 100%;
  margin: 0 auto;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box.last .image-container img {
  width: 84px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box.last .image-container .view-all {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #00b1f2;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box .hotdeal {
  position: absolute;
  top: -19px;
  right: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #ffd46e;
  color: #ffffff;
  font-size: 10px;
  padding: 2px 20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box .image-container {
  text-align: center;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box .image-container img {
  max-height: 195px;
  margin: 0 auto;
  max-width: 100%;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box .product-details {
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box .product-details .product-title {
  font-size: 14px;
  font-weight: 600;
  color: #2d2d2d;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box .product-details .product-price {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box .product-details .product-price .new-price {
  font-size: 18px;
  font-weight: 600;
  color: #2d2d2d;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box .product-details .product-price .old-price {
  font-size: 10px;
  font-weight: 600;
  color: #a8a8a8;
  margin-left: 5px;
  text-decoration: line-through;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box .product-details .product-price .discount-container {
  font-size: 10px;
  font-weight: 600;
  color: #ebb73a;
  margin-left: 5px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .items-carousel .item-box .product-details .point-desc {
  color: #8a8a96;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .carousel-prev {
  position: absolute;
  left: 0px;
  outline: none;
  background: none;
  padding: 0;
  border: 0;
  top: 375px;
  cursor: pointer;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .carousel-prev .carousel-icon::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  color: #2d2d2d;
  transform: rotate(135deg);
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .carousel-prev.slick-disabled .carousel-icon::after {
  color: #adadad;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .carousel-next {
  position: absolute;
  right: 0px;
  outline: none;
  background: none;
  padding: 0;
  border: 0;
  top: 375px;
  cursor: pointer;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .carousel-next .carousel-icon::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  color: #2d2d2d;
  transform: rotate(-45deg);
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .products-list-wrapper .items-carousel-container .carousel-next.slick-disabled .carousel-icon::after {
  color: #adadad;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-banner {
  position: relative;
  margin-bottom: 40px;
  height: 100%;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-banner img {
  width: 100%;
  height: 100%;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-banner .banner-image-content {
  position: absolute;
  display: block;
  top: 115px;
  left: 60px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-banner .banner-image-content .heading {
  font-size: 14px;
  color: #ffffff;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-banner .banner-image-content .subheading {
  font-size: 10px;
  color: #ffffff;
  margin-top: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-banner .banner-image-content .link {
  font-size: 10px;
  color: #00b1f2;
  margin-top: 10px;
  display: flex;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-banner .banner-image-content .link .toggle-icon {
  margin-left: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-banner .banner-image-content .link .toggle-icon::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 2px;
  vertical-align: middle;
  color: #00b1f2;
  transform: rotate(-45deg);
  transition: transform 0.3s;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-banner .banner-image-content .heading {
  font-size: 20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .rwd-banner .banner-image-content .subheading {
  font-size: 14px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .carousel-container.mid-page {
  margin-top: 40px;
  position: relative;
  padding: 0 30px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .carousel-container.mid-page .category-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .carousel-container.mid-page .category-carousel .category-wrapper {
  outline: none;
  width: 120px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .carousel-container.mid-page .category-carousel .category-wrapper .category-image-wrapper {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .carousel-container.mid-page .category-carousel .category-wrapper .category-image-wrapper .category-image {
  max-height: 70px;
  max-width: 70px;
  margin: 0 auto;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .carousel-container.mid-page .category-carousel .category-wrapper .category-name {
  text-align: center;
  color: #878787;
  font-size: 14px;
  width: 100px;
  margin-top: 10px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .carousel-container.mid-page .carousel-prev {
  position: absolute;
  left: 0px;
  outline: none;
  background: none;
  padding: 0;
  border: 0;
  top: 38px;
  cursor: pointer;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .carousel-container.mid-page .carousel-prev .carousel-icon::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  color: #2d2d2d;
  transform: rotate(135deg);
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .carousel-container.mid-page .carousel-next {
  position: absolute;
  right: 0px;
  outline: none;
  background: none;
  padding: 0;
  border: 0;
  top: 38px;
  cursor: pointer;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper .carousel-container.mid-page .carousel-next .carousel-icon::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  color: #2d2d2d;
  transform: rotate(-45deg);
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-heading-1 span {
  font-size: 14px;
  color: #2d2d2d;
  font-weight: 600;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-heading-2 span {
  font-size: 20px;
  color: #333333;
  font-weight: 600;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-heading-2 .search-text {
  margin-right: 5px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-heading-2 .cancel-search {
  cursor: pointer;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box {
  background-color: #ffffff;
  padding: 20px;
  width: 280px;
  margin-right: 16px;
  cursor: pointer;
  min-height: 343px;
  position: relative;
  outline: none;
  margin-top: 20px;
  display: inline-block;
  /* @media (max-width: 1280px) {
                                                margin-right: @item-box-margin;
                                                min-width: 280px;
                                            }
                                            @media (max-width: 980px) {
                                                margin-right: calc((100vw - 60px - 560px)/3);
                                                min-width: 280px;
                                            } */
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box:nth-child(3n+3) {
  margin-right: -4px;
}
@media (max-width: 1280px) {
  .rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box:nth-child(3n+3) {
    margin-right: 20px;
  }
  .rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box:nth-child(2n+2) {
    margin-right: 20px;
  }
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box .image-container {
  text-align: center;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box .image-container img {
  max-height: 195px;
  margin: 0 auto;
  max-width: 100%;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box .product-details {
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box .product-details .product-title {
  font-size: 14px;
  font-weight: 600;
  color: #2d2d2d;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box .product-details .product-price {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box .product-details .product-price .new-price {
  font-size: 18px;
  font-weight: 600;
  color: #2d2d2d;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box .product-details .product-price .old-price {
  font-size: 10px;
  font-weight: 600;
  color: #a8a8a8;
  margin-left: 5px;
  text-decoration: line-through;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box .product-details .product-price .discount-container {
  font-size: 10px;
  font-weight: 600;
  color: #ebb73a;
  margin-left: 5px;
}
.rwd-dashboard .tabs-body .content-wrapper .tab-content .content.rwd-tab-catalogue .rwd-main-section .rwd-items-wrapper #dash-search-results .rwd-search-results .search-item-box .product-details .point-desc {
  color: #8a8a96;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}
