body{
    font-family: 'Open Sans', sans-serif;
}
.rwd-flex{
    display: flex;
}
.rwd-flex.sb{
    justify-content: space-between;
}
.rwd-flex.ac{
    align-items: center;
}
.rwd-flex.fe{
  align-items: flex-end;
}
.rwd-nav-wrapper{
    margin: 0 auto;
    max-width: 960px;
    height: 100%;
}
.rwd-hidden{
  display: none;
}
/* Tags CSS */
.rwd-tag{
    padding: 10px 20px;
    background-color: #ffffff;
    color: #8a8a96;
    font-size: 14px;
    font-weight: 600;
    border-radius: 34px;
    box-shadow: 0 0 4px 0 #d5d5ea;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}
.rwd-tag.cancellable{
  padding-right: 30px;
  cursor: auto;
}
.rwd-tag.cancellable.selected{
  background-color: #ffffff;
  color: #8a8a96;
}
.rwd-tag.cancellable .rwd-tag-close{
  position: absolute;
  background: url('../../assets/images/cross.png');
  content: '';
  font-size: 7px;
  top: 15px;
  margin-left: 10px;
  color: #8a8a96;
  width: 9px;
  height: 8px;
  background-size: 9px;
  cursor: pointer;
  right: 10px;
}
.rwd-tag.selected{
    background-color: #00b1f2;
    color: #ffffff;
}

/** Custom Checkbox for Rewards Page (round shape) */
.rwd-checkbox-container{
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
    color: #2d2d2d;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.rwd-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
/* Create a custom checkbox */
.rwd-checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #00b1f2;
    transition: 0.3s;
  }
  
  /* On mouse-over, add a grey background color */
  /* .rwd-checkbox-container:hover input ~ .rwd-checkbox-checkmark {
    background-color: #ccc;
  } */
  
  /* When the checkbox is checked, add a blue background */
  .rwd-checkbox-container input:checked ~ .rwd-checkbox-checkmark {
    background-color: #00b1f2;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .rwd-checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .rwd-checkbox-container input:checked ~ .rwd-checkbox-checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .rwd-checkbox-container .rwd-checkbox-checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



  /** Custom Radio for Rewards Page (round shape) */
  .rwd-radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    color: #2d2d2d;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .rwd-radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .rwd-radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    /* background-color: #eee; */
    border-radius: 50%;
    transition: 0.3s;
    border: 1px solid #8a8a96;
  }
  
  
  /* When the radio button is checked, add a blue background */
  .rwd-radio-container input:checked ~ .rwd-radio-checkmark {
    background-color: #ffffff;
    border: 1px solid #00b1f2;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .rwd-radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .rwd-radio-container input:checked ~ .rwd-radio-checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .rwd-radio-container .rwd-radio-checkmark:after {
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #00b1f2;
    transition: 0.3s;
  }



  /** Carousel Dots */
.items-carousel-container .slick-dotted.slick-slider
{
    margin-bottom: 65px;
}

.items-carousel-container .slick-dots
{
    position: absolute;
    bottom: -40px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.items-carousel-container .slick-dots li
{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.items-carousel-container .slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #8a8a96;
    cursor: pointer;
    color: transparent;
    outline: none;
    background: transparent;
}
.items-carousel-container .slick-dots li.slick-active button{
    background-color: #8a8a96;
}
.items-carousel-container .slick-dots li button:hover,
.items-carousel-container .slick-dots li button:focus
{
    outline: none;
}
.items-carousel-container .slick-dots li button:hover:before,
.items-carousel-container .slick-dots li button:focus:before
{
    opacity: 1;
}

.rwd-sticky-bottom{
  top: auto !important;
  bottom: 0px;
}
